.home-wrapper {
  height: 100vh;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-wrapper {
  width: 800px;
  height: 100px;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 100px;
  left: 150px;
  font-size: 20px;
  margin: 0 auto;
}
