.footer-wrapper {
  width: 100vw;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: black;
  border: 2px solid black;
}
.nav-footer {
  width: 400px;
  height: 40px;
  display: flex;
  margin-left: 600px;
  justify-content: space-evenly;
  font-size: 24px;
  align-items: center;
  /* border: 2px solid black; */
}
